interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: DELETE
    uri: https://drive.api.tekcloud.com/trash
  response:
    body:
      string: ''
    headers:
      ETag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/trash?orderBy=-trashedAt&limit=100
  response:
    body:
      string: '{"trash":[],"meta":{"page":1,"limit":100,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"35-8WeAyrPMWDcNIkyMXkSEzQtEPZQ"
    status:
      code: 200
      message: OK
version: 1
