interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/trash?orderBy=trashedAt&limit=100
  response:
    body:
      string: '{"trash":[{"trasher":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"trashedAt":"2021-04-01T18:07:46.262Z","trashedDirectly":true,"totalBytes":"81707","itemShareCount":1,"item":{"id":"05e340ea-eb6d-4c01-aa7e-6752d2e00111","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"1478879153-die-hard.jpg","fileType":"JPG","createdAt":"2021-04-01T18:01:38.270Z","updatedAt":"2021-04-01T18:07:46.262Z","trashedAt":"2021-04-01T18:07:46.262Z","uploadState":"SUCCESS","type":"FILE","bytes":"81707","parentFolderId":"e3d6b6b9-5867-460e-85af-986e50a65bc0","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}},{"trasher":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"trashedAt":"2021-04-05T21:26:02.627Z","trashedDirectly":true,"totalBytes":"0","itemShareCount":1,"item":{"id":"5e0898d3-2a50-44ed-b9d9-d4870940ad2b","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"St
        Pattys","folderType":"STANDARD","createdAt":"2021-04-05T21:24:56.872Z","updatedAt":"2021-04-05T21:26:02.627Z","trashedAt":"2021-04-05T21:26:02.627Z","type":"FOLDER","parentFolderId":"e3d6b6b9-5867-460e-85af-986e50a65bc0","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}},{"trasher":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"trashedAt":"2021-04-05T21:26:03.392Z","trashedDirectly":true,"totalBytes":"0"[...]
