interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/trash?orderBy=-trashedAt&limit=3
  response:
    body:
      string: '{"trash":[{"trasher":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"trashedAt":"2021-04-06T14:21:57.034Z","trashedDirectly":true,"totalBytes":"0","itemShareCount":1,"item":{"id":"2f6d7ed5-7f86-4c37-a274-65777d03246f","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"St
        Pattys 3","folderType":"STANDARD","createdAt":"2021-04-05T18:37:11.279Z","updatedAt":"2021-04-06T14:21:57.034Z","trashedAt":"2021-04-06T14:21:57.034Z","type":"FOLDER","parentFolderId":"e3d6b6b9-5867-460e-85af-986e50a65bc0","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}},{"trasher":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"trashedAt":"2021-04-06T14:21:56.501Z","trashedDirectly":true,"totalBytes":"0","itemShareCount":1,"item":{"id":"dd7c15c0-b653-400a-981e-7d5d5013ac7f","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@ini[...]
