interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043/members?raw_json=1
  response:
    body:
      string: '{"members":[{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com","permissions":{"owner":true,"creator":true,"read":true,"edit":true}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ad-Kg2xv4gisKCQAWnyxMNaZWrRzyQ"
    status:
      code: 200
      message: OK
version: 1
