interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043/members
  response:
    body:
      string: '{"members":[{"id":"7869c0bf-ad79-4e44-a374-ec87294bab9e","username":"thomas+3tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":false}},{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com","permissions":{"owner":true,"creator":true,"read":true,"edit":true}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"151-JAGGZTe/u2H6tWuq4e1Nuen9IGA"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043/members
  response:
    body:
      string: '{"members":[{"id":"634086ae-176b-45d5-b501-4c00a2ad9822","username":"thomas+4tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":true}},{"id":"7869c0bf-ad79-4e44-a374-ec87294bab9e","username":"thomas+3tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":false}},{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com","permissions":{"owner":true,"creator":true,"read":true,"edit":true}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f4-48c5cOCptd/3naZbcwuXeLGknjY"
    status:
      code: 200
      message: OK
version: 1
