interactions:
- request:
    body: '{"permissions": {"read": true, "edit": false}}'
    headers:
      Content-Type:
      - application/json
      x-is-ak:
      - TEST_ACCESS_KEY
    method: PUT
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043/members/7869c0bf-ad79-4e44-a374-ec87294bab9e
  response:
    body:
      string: '{"id":"7869c0bf-ad79-4e44-a374-ec87294bab9e","username":"thomas+3tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a3-FP9IlVQK+FYsu36OJ24jwq+dqak"
    status:
      code: 200
      message: OK
version: 1
