interactions:
- request:
    body: '{"permissions": {"read": true, "edit": false}}'
    headers:
      Content-Type:
      - application/json
      x-is-ak:
      - TEST_ACCESS_KEY
    method: PUT
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043/members/4b0dd6d7-9284-4202-b8e7-213569976c63
  response:
    body:
      string: '{"errorCode":"FORBIDDEN","message":"Cannot update owner"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"39-bFDGKb51u9Q8tA7hdaXhEc+4EJs"
    status:
      code: 403
      message: Forbidden
version: 1
