interactions:
- request:
    body: '{"parentFolderId": "eb1b996b-4eda-4068-a175-ca7135f6731b"}'
    headers:
      Content-Type:
      - application/json
      x-is-ak:
      - TEST_ACCESS_KEY
    method: PUT
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043
  response:
    body:
      string: '{"id":"8e1a1ad0-d352-4681-b14e-62c7371d6043","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"New
        Folder","folderType":"STANDARD","createdAt":"2021-02-08T15:56:24.003Z","updatedAt":"2021-02-08T15:56:24.003Z","type":"FOLDER","parentFolderId":"eb1b996b-4eda-4068-a175-ca7135f6731b","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"21c-Q6OWtdJRiGjsPZG6yeO/ICl8tJE"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/folder/8e1a1ad0-d352-4681-b14e-62c7371d6043
  response:
    body:
      string: '{"id":"8e1a1ad0-d352-4681-b14e-62c7371d6043","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"New
        Folder","folderType":"STANDARD","createdAt":"2021-02-08T15:56:24.003Z","updatedAt":"2021-02-08T15:56:24.003Z","type":"FOLDER","parentFolderId":"eb1b996b-4eda-4068-a175-ca7135f6731b","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"21c-Q6OWtdJRiGjsPZG6yeO/ICl8tJE"
    status:
      code: 200
      message: OK
version: 1
