interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/tree?folderId=61264d17-fba1-4676-bbcc-b46c1f0ddd4c&depth=1&foldersOnly=False&includeTrashed=false
  response:
    body:
      string: '{"tree":{"id":"61264d17-fba1-4676-bbcc-b46c1f0ddd4c","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Tree
        Testing","folderType":"STANDARD","createdAt":"2021-04-21T14:33:20.749Z","updatedAt":"2021-04-21T14:33:25.053Z","trashedAt":null,"type":"FOLDER","parentFolderId":"587b2c64-38ba-4d3f-bf12-ad5f2b1075b3","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null,"children":[{"id":"a3129db5-4378-4557-99b3-d07585fec604","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Level
        2","folderType":"STANDARD","createdAt":"2021-04-21T14:34:10.078Z","updatedAt":"2021-04-21T14:34:14.108Z","trashedAt":null,"type":"FOLDER","parentFolderId":"61264d17-fba1-4676-bbcc-b46c1f0ddd4c","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null},{"id":"94cd3185-f3f4-4708-8400-069ca99732ef","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-27.jpg","fileType":"JPG","createdAt":"2021-04-21T14:34:27.186Z","updatedAt":"2021-04-21T14:34:29.862Z","trashedAt":null,"uploadState":"SUCCESS","type":"FILE","bytes":"339067","parentFolderId":"61264d17-fba1-4676-bbcc-b46c1f0ddd4c","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null},{"id":"dd5dba95-7825-4598-87f2-f29ce6424b12","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-33.jpg","fileType":"JPG","createdAt":"2021-04-21T14:34:34.125Z","updatedAt":"2021-04-21T14:34:35.995Z","trashedAt":null,"uploadState":"SUCCESS","type":"FILE","bytes":"289600","parentFolderId":"61264d17-fba1-4676-bbcc-b46c1f0ddd4c","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"950-lNqx+1lqMSsIuXMp4/9WbO8ezkc"
    status:
      code: 200
      message: OK
version: 1
