interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/tree
  response:
    body:
      string: '{"tree":{"id":"e3d6b6b9-5867-460e-85af-986e50a65bc0","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"My
        Files","folderType":"PERSONAL","createdAt":"2021-04-01T17:59:26.896Z","updatedAt":"2021-04-01T17:59:26.896Z","trashedAt":null,"type":"FOLDER","parentFolderId":null,"permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null,"children":[{"id":"ba0b6d84-e3e8-4df0-8408-7086148ad8ce","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"New
        Folder","folderType":"STANDARD","createdAt":"2021-04-06T14:54:52.826Z","updatedAt":"2021-04-06T14:55:45.482Z","trashedAt":null,"type":"FOLDER","parentFolderId":"e3d6b6b9-5867-460e-85af-986e50a65bc0","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"495-JXXFyziYjWTa1ueXTGqPj8nNYns"
    status:
      code: 200
      message: OK
version: 1
