interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/tree?depth=1&foldersOnly=False&includeTrashed=true
  response:
    body:
      string: '{"tree":{"id":"587b2c64-38ba-4d3f-bf12-ad5f2b1075b3","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"My
        Files","folderType":"PERSONAL","createdAt":"2020-09-10T15:29:01.595Z","updatedAt":"2020-09-10T15:29:01.595Z","trashedAt":null,"type":"FOLDER","parentFolderId":null,"permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null,"children":[{"id":"edfecdfa-e48f-42cb-9eb1-89fa6dc6e803","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"forbidden","folderType":"STANDARD","createdAt":"2020-09-10T16:00:58.876Z","updatedAt":"2021-04-06T14:21:57.247Z","trashedAt":"2021-04-06T14:21:57.247Z","type":"FOLDER","parentFolderId":"587b2c64-38ba-4d3f-bf12-ad5f2b1075b3","permissions":{"owne[...]
