interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/tree?silo=SHARES&depth=1&foldersOnly=False&includeTrashed=false
  response:
    body:
      string: '{"tree":{"id":"7f641f3d-a0cc-49c2-81ce-8f845d9bada0","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"Shared
        With Me","folderType":"SHARES","createdAt":"2021-04-01T17:59:26.896Z","updatedAt":"2021-04-01T17:59:26.896Z","trashedAt":null,"type":"FOLDER","parentFolderId":null,"permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null,"children":[{"id":"b0c9dbce-fe01-4f05-8a0d-5e7041c04e6a","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"New
        Folder","folderType":"STANDARD","createdAt":"2021-02-04T19:58:13.190Z","updatedAt":"2021-02-04T19:58:13.190Z","trashedAt":null,"type":"FOLDER","parentFolderId":"7f641f3d-a0cc-49c2-81ce-8f845d9bada0","permissions":{"owner":false,"creator":false,"public":false,"read":true,"edit":false},"sharedAt":"2021-04-06T17:45:02.672Z"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"48e-+zaQUTWPbcW4pHNCI8f1S7htvew"
    status:
      code: 200
      message: OK
version: 1
