interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/user/usage
  response:
    body:
      string: '{"totalBytesOwned":"1030853940","filesOwnedCount":70,"totalBytesOwnedInTrash":"0","filesOwnedInTrashCount":0,"totalBytesCreated":"1030853940","filesCreatedCount":70,"storageSizeLimit":"2000000000"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-i/97lYMD7WVh1jvg7/HMMUgnWpo"
    status:
      code: 200
      message: OK
version: 1
