interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/search?name=Bark&depth=1&type=FILE%2CFOLDER&includeTrashed=True&limit=100
  response:
    body:
      string: '{"results":[{"id":"b14aa74c-cb66-4700-adb4-030a2389c523","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-27.jpg","fileType":"JPG","createdAt":"2021-04-19T14:44:58.891Z","updatedAt":"2021-04-19T14:45:01.800Z","trashedAt":null,"uploadState":"SUCCESS","type":"FILE","bytes":"339067","parentFolderId":"587b2c64-38ba-4d3f-bf12-ad5f2b1075b3","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null},{"id":"9e637202-5502-4f8c-9dbe-f092f5697033","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-33.jpg","fileType":"JPG","createdAt":"2021-04-19T14:45:06.797Z","updatedAt":"2021-04-19T14:45:08.964Z","trashedAt":null,"uploadState":"SUCCESS","type":"FILE","bytes":"289600","parentFolderId":"587b2c64-38ba-4d3f-bf12-ad5f2b1075b3","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null},{"id":"262e4ac7-c8c3-46ae-b361-85fe42d298c6","owner":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"creator":{"id":"7bb0af73-e54c-4ed6-bd94-08a99ac6e269","username":"rachel+tekdrive@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-116.jpg","fileType":"JPG","createdAt":"2021-04-19T14:45:14.450Z","updatedAt":"2021-04-19T14:51:04.942Z","trashedAt":"2021-04-19T14:51:04.942Z","uploadState":"SUCCESS","type":"FILE","bytes":"385279","parentFolderId":"587b2c64-38ba-4d3f-bf12-ad5f2b1075b3","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}],"meta":{"page":1,"limit":100,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"37-BG5Yh3oiv3kX6Or++j9U9pZynko"
    status:
      code: 200
      message: OK
version: 1
