interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/search?name=new_&depth=1&type=FILE&limit=100
  response:
    body:
      string: '{"results":[{"id":"3670359c-c453-40b7-bcc1-0281e2f6db94","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"my_new_name","fileType":null,"createdAt":"2021-01-28T01:34:42.118Z","updatedAt":"2021-02-06T21:23:04.797Z","uploadState":"SUCCESS","type":"FILE","bytes":"14","parentFolderId":"b0c9dbce-fe01-4f05-8a0d-5e7041c04e6a","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null},{"id":"7a1d6777-6a43-4d17-952e-81e589b8dbaf","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"my_new_file","fileType":null,"createdAt":"2021-01-28T01:34:53.760Z","updatedAt":"2021-01-28T01:34:55.714Z","uploadState":"SUCCESS","type":"FILE","bytes":"14","parentFolderId":"a63a781f-ecbc-442f-b053-c5bd65ef611b","permissions":{"owner":tr[...]
