interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/search?name=test&silo=personal&depth=1&type=FILE&limit=5
  response:
    body:
      string: '{"results":[{"id":"706614bf-316f-4089-bfd1-ff9e82ace19b","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"test-simple-file-upload","fileType":null,"createdAt":"2020-12-01T21:27:45.217Z","updatedAt":"2020-12-01T21:27:46.955Z","uploadState":"SUCCESS","type":"FILE","bytes":"488","parentFolderId":"a63a781f-ecbc-442f-b053-c5bd65ef611b","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null},{"id":"c10e3df8-4686-48c3-8ce7-7b8f242a01a1","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"test-simple-file-upload","fileType":null,"createdAt":"2020-12-01T21:31:30.523Z","updatedAt":"2020-12-01T21:31:31.651Z","uploadState":"SUCCESS","type":"FILE","bytes":"488","parentFolderId":"a63a781f-ecbc-442f-b053-c5bd65ef611b","permissions[...]
