interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/search?name=name_of_things_that_dont_even_exist&depth=1&type=FILE%2CFOLDER&limit=100
  response:
    body:
      string: '{"results":[],"meta":{"page":1,"limit":100,"offset":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"37-BG5Yh3oiv3kX6Or++j9U9pZynko"
    status:
      code: 200
      message: OK
version: 1
