interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/file/65ba67d5-eec1-41d7-b409-9918d31c0a00/artifacts?flat=True
  response:
    body:
      string: '{"artifacts":[{"id":"b7369b17-63b7-4158-a1d1-c37310e00f7d","fileId":"65ba67d5-eec1-41d7-b409-9918d31c0a00","name":"ch1.wfm","fileType":"WFM","sourceId":"ddbb86c5-f926-4cf0-b566-d6b9f3200b5d","sourceName":"GRAVEMIND_TSS_PROCESSOR","contextType":"CHANNEL","parentArtifactId":null,"uploadState":"SUCCESS","bytes":"1250910","type":"ARTIFACT","createdAt":"2022-01-06T21:01:03.525Z","updatedAt":"2022-01-06T21:01:06.308Z"},{"id":"6ef7a6ac-5b25-4ebd-bf61-26aad2926ab1","fileId":"65ba67d5-eec1-41d7-b409-9918d31c0a00","name":"Tek000.set","fileType":"SETZ","sourceId":"ddbb86c5-f926-4cf0-b566-d6b9f3200b5d","sourceName":"GRAVEMIND_TSS_PROCESSOR","contextType":"SETTINGS_ZIP","parentArtifactId":null,"uploadState":"SUCCESS","bytes":"6347","type":"ARTIFACT","createdAt":"2022-01-06T21:01:03.593Z","updatedAt":"2022-01-06T21:01:07.718Z"},{"id":"e68cc308-e95b-42ca-b6bc-584c9e2fe97e","fileId":"65ba67d5[...]
