interactions:
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/file/7fa7559a-5339-4ec2-8e57-392857d96706/members
  response:
    body:
      string: '{"members":[{"id":"67833b18-6941-4728-b326-0e5973b32e75","username":"thomas+2tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":true}},{"id":"7869c0bf-ad79-4e44-a374-ec87294bab9e","username":"thomas+3tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":true}},{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com","permissions":{"owner":true,"creator":true,"read":true,"edit":true}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1f3-itFnf9Vkhg05RrI/bxeE61TaNh0"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: DELETE
    uri: https://drive.api.tekcloud.com/file/7fa7559a-5339-4ec2-8e57-392857d96706/members/67833b18-6941-4728-b326-0e5973b32e75
  response:
    body:
      string: ''
    headers:
      ETag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/file/7fa7559a-5339-4ec2-8e57-392857d96706/members
  response:
    body:
      string: '{"members":[{"id":"7869c0bf-ad79-4e44-a374-ec87294bab9e","username":"thomas+3tekdrive@initialstate.com","permissions":{"owner":false,"creator":false,"read":true,"edit":true}},{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com","permissions":{"owner":true,"creator":true,"read":true,"edit":true}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"150-bVRPagHXJLkeyY6pOyycq4cpHig"
    status:
      code: 200
      message: OK
version: 1
