interactions:
- request:
    body: '{"permissions": {"read": true, "edit": true}, "id": "4307a1f5-edc1-4082-8bb2-05068d6c1d67"}'
    headers:
      Content-Type:
      - application/json
      x-is-ak:
      - TEST_ACCESS_KEY
    method: POST
    uri: https://drive.api.tekcloud.com/file/7fa7559a-5339-4ec2-8e57-392857d96706/members
  response:
    body:
      string: '{"errorCode":"UNPROCESSABLE_ENTITY","message":"Provided member details
        could not be processed. Check any supplied ids."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"78-EUiJCJr8LqC8aUgD1PtiffPWlFo"
    status:
      code: 422
      message: Unprocessable Entity
version: 1
