interactions:
- request:
    body: '{"parentFolderId": "b0c9dbce-fe01-4f05-8a0d-5e7041c04e6a"}'
    headers:
      Content-Type:
      - application/json
      x-is-ak:
      - TEST_ACCESS_KEY
    method: PUT
    uri: https://drive.api.tekcloud.com/file/3670359c-c453-40b7-bcc1-0281e2f6db94
  response:
    body:
      string: '{"id":"3670359c-c453-40b7-bcc1-0281e2f6db94","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"my_new_file","fileType":null,"createdAt":"2021-01-28T01:34:42.118Z","updatedAt":"2021-01-28T01:34:43.914Z","uploadState":"SUCCESS","type":"FILE","bytes":"14","parentFolderId":"b0c9dbce-fe01-4f05-8a0d-5e7041c04e6a","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"238-zDyVJaiVST/id444hqVEwujV0qk"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/file/3670359c-c453-40b7-bcc1-0281e2f6db94
  response:
    body:
      string: '{"id":"3670359c-c453-40b7-bcc1-0281e2f6db94","owner":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"creator":{"id":"4b0dd6d7-9284-4202-b8e7-213569976c63","username":"thomas+tekdrive@initialstate.com"},"name":"my_new_file","fileType":null,"createdAt":"2021-01-28T01:34:42.118Z","updatedAt":"2021-01-28T01:34:43.914Z","uploadState":"SUCCESS","type":"FILE","bytes":"14","parentFolderId":"b0c9dbce-fe01-4f05-8a0d-5e7041c04e6a","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"238-zDyVJaiVST/id444hqVEwujV0qk"
    status:
      code: 200
      message: OK
version: 1
