interactions:
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: DELETE
    uri: https://drive.api.tekcloud.com/file/268203c5-8493-4f60-9023-400fe3642a58?hardDelete=false
  response:
    body:
      string: ''
    headers:
      ETag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: POST
    uri: https://drive.api.tekcloud.com/file/268203c5-8493-4f60-9023-400fe3642a58
  response:
    body:
      string: '{"id":"268203c5-8493-4f60-9023-400fe3642a58","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-116.jpg","fileType":"JPG","createdAt":"2021-04-06T14:21:05.032Z","updatedAt":"2021-04-06T14:51:21.516Z","trashedAt":null,"uploadState":"SUCCESS","type":"FILE","bytes":"385279","parentFolderId":"e3d6b6b9-5867-460e-85af-986e50a65bc0","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"294-SfLNfjQDU/PxuboSnj52vrBnNq8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Accept-Version:
      - v1
      x-is-ak:
      - TEST_ACCESS_KEY
    method: GET
    uri: https://drive.api.tekcloud.com/file/268203c5-8493-4f60-9023-400fe3642a58
  response:
    body:
      string: '{"id":"268203c5-8493-4f60-9023-400fe3642a58","owner":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"creator":{"id":"fb00c078-ffdc-49e2-a8f8-3d44644a80b6","username":"thomas+prod-sdk-integration-tests@initialstate.com"},"name":"Bark
        Public St Patty_s Day_2021.03.17-116.jpg","fileType":"JPG","createdAt":"2021-04-06T14:21:05.032Z","updatedAt":"2021-04-06T14:51:21.516Z","trashedAt":null,"uploadState":"SUCCESS","type":"FILE","bytes":"385279","parentFolderId":"e3d6b6b9-5867-460e-85af-986e50a65bc0","permissions":{"owner":true,"creator":true,"public":false,"read":true,"edit":true},"sharedAt":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"294-SfLNfjQDU/PxuboSnj52vrBnNq8"
    status:
      code: 200
      message: OK
version: 1
